*.DS_Store
*srlconll-1.1
datasets/embeddings/*
*.pyc
*__pycache__
propbankbr/*.txt
propbankbr/*.conll
*events.out.tfevents.*
tex/*
!tex/*.pdf
!tex/*.tex
!tex/*.bib

# Remove saved parameters
*graph_params-*