.DS_Store
*.old.* # matches previous refactored files
/.old   # matches root directory
/srlconll-1.1
**/embeddings
**/svms
*__pycache__
propbankbr/*.txt
propbankbr/*.conll
*events.out.tfevents.*
# large binary files
*db_pt_LEMMA_fasttext_s50.pickle
*db_pt_LEMMA_wang2vec_s50.pickle
*db_pt_LEMMA_word2vec_s50.pickle

# Remove saved parameters
*graph_params-*

# Compiled files
*.pyc
*.so.3
*.o